<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Club Mahindra</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link href="css/reset.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body ng-app="cmSurvey" ng-controller="mainController" id="mycmSurvey">

		<div class="cm_progressContainer"><div class="start cm_progressBar"></div></div>
		
		<div class="background" ng-class="getBgClass();">

			<div class="welcome-screen bgs"></div>
			<div class="signup-screen bgs"></div>
			<div class="score-screen bgs"></div>
			<div class="end-screen bgs"></div>

			<!-- User Info BG's -->
			<div class="namebg bgs"></div>
			<div class="agebg bgs"></div>
			<div class="age30bg bgs"></div>
			<div class="age50bg bgs"></div>
			<div class="age50plusbg bgs"></div>
			<div class="childrenbg bgs"></div>
			<div class="phonebg bgs"></div>
			<div class="signbg bgs"></div>

			<!-- Travel-O-Meter -->
			<div class="hwf-age30nc bgs"></div>
			<div class="hwf-age30hc bgs"></div>
			<div class="hwf-age50nc bgs"></div>
			<div class="hwf-age50hc bgs"></div>
			<div class="hwf-age50pnc bgs"></div>
			<div class="hwf-age50phc bgs"></div>

			<div class="hday-age30nc bgs"></div>
			<div class="hday-age30hc bgs"></div>
			<div class="hday-age50nc bgs"></div>
			<div class="hday-age50hc bgs"></div>
			<div class="hday-age50pnc bgs"></div>
			<div class="hday-age50phc bgs"></div>

			<div class="destbg bgs"></div>

			<div class="itdestbg bgs"></div>

			<div class="advbg bgs"></div>

			<!-- Stress Test -->
			<div class="workweekbg bgs"></div>

			<div class="lfw-age30clut bgs"></div>
			<div class="lfw-age30cusn bgs"></div>
			<div class="lfw-age30nat bgs"></div>
			<div class="lfw-age30monum bgs"></div>

			<div class="lfw-age30pclut bgs"></div>
			<div class="lfw-age30pcusn bgs"></div>
			<div class="lfw-age30pnat bgs"></div>
			<div class="lfw-age30pmonum bgs"></div>

			<div class="hiy-age30 bgs"></div>
			<div class="hiy-age50 bgs"></div>
			<div class="hiy-age50plus bgs"></div>

			<div class="dreamvcbg bgs"></div>

			<!-- Score Screen -->
			<div class="beachbg bgs"></div>
			<div class="hsitesbg bgs"></div>
			<div class="junglebg bgs"></div>
			<div class="othersbg bgs"></div>


			<!-- Index View -->
			<div class="outer" ui-view></div>

			<div class="navigation">
				<div class="nums">{{pageNum}} of 14</div>
				<div class="next">
					<a ng-click="prevScreen()" class="btn back prev-back" style="display: none">Back</a>
					<a ng-click="slickConfig.method.slickPrev()" class="btn back slick-back">Back</a>
					<a ng-click="slickConfig.method.slickNext()" class="btn nxt">Next</a>
				</div>
			</div>

		</div>
	

		<!-- Scripts : Angularjs, Angular-ui-router, Angular-animate, App.js -->
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/slick.js"></script>
		<script src="js/jquery.fancybox.min.js"></script>

		
	  	<script src='js/angular.min.js'></script>
	  	<script src="js/ngStorage.min.js"></script>
		<script src='js/angular-ui-router.min.js'></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-cookies.js"></script>
		<script src="js/angular-slick.js"></script>
		<script src="js/snap.svg-min.js"></script>
		<script src="js/signaturepad.js"></script>
		<script src="js/angular-signature.js"></script>
		<script src="js/ngTap.min.js"></script>
	    <script  src="js/app.js"></script>
	    <script src="http://www.youtube.com/player_api"></script>
	    <script src="js/angular-youtube-embed.js"></script>

	</body>
</html>
