<div class="content">
	<div class="card big txt-center">
		<h1>Welcome to Club Mahindra</h1>
		<p>You are just a step away from your DREAM vacation, DREAM location, BEST amenities and AWESOME memories.</p>
		<div class="btn-wrapper">
			<a ui-sref="signup" class="btn big">Start</a>
		</div>
	</div>
</div>