/*
	Club Mahindra
*/
body{
	font-family: "Source Sans Pro","Roboto","Arial",sans-serif;
	overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Source Sans Pro","Roboto","Arial",sans-serif;
	color:#111114;
	opacity: 0.8;
}
h1{
	font-size: 55px;
	line-height: 82px;
	font-weight: 600;
}
h2{
	font-size:34px;
	line-height: 54px;
	font-weight: 600;
	opacity: 0.7;
	letter-spacing: 1px;
}
.score-screen h2{
	font-size: 30px;
}
p{
	color: #4d4c4c;
}
button{

}
.txt-center{
	text-align: center;
}
.background{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
	overflow: hidden;
}
.background .bgs{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover !important;
	overflow: hidden;
	transition: ease all 0.3s;
	opacity: 0;
}
.background #leafs{
	opacity: 0;
	transition: ease all 0.3s;
}
.background.welcome #leafs,
.background.signup #leafs,
.background.scorecard #leafs,
.background.thanks #leafs{
	opacity: 0.7 !important;
}

.welcome .welcome-screen,.signup .signup-screen, .scorecard .score-screen,.thanks .end-screen{ opacity: 1; }

.welcome-screen{
	background-image: url('../img/bgs/1.jpg');
}
.signup-screen{
	background-image: url('../img/bgs/2.jpg');
}
.score-screen{
	background-image: url('../img/bgs/3.jpg');
}
.end-screen{
	background-image: url('../img/bgs/4.jpg');
}
.welcome-screen:before,.score-screen:before,.end-screen:before{
	display: block;;
  	background-color: rgb(0, 0, 0);
  	opacity: 0.329;
  	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
.animation-cover{
	min-height: 200px;
	display: block;
	width: 90vw;
}
.background *,.leaf-wrapper *{
	position: relative;
	z-index: 1000;
}
.outer{
	display: flex;
	width: 100%;
	overflow: hidden;
	height: 100vh;
	align-content: center;
}
.leaf-wrapper{
	display: block;;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.leaf-wrapper svg{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.leaf-wrapper svg path{
	opacity: 0.7;
	transition:ease all 0.7s;
}

.thanks .leaf-wrapper path{
	transform: translateY(-40%);
}
.signup .leaf-wrapper path{
	transform: translateY(50%);
}
.scorecard .leaf-wrapper path{
}


.content{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
.content.horizontal{
	display: block;
}
.outer .content.horizontal{
	padding: 0px 200px;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
.signup-screen .content{
	height: 100vh;
}
.signup-screen .content.padding-active{
	width: 100%;
	padding: 0px 200px;
}
.signup-screen .content.padding-active .title{
	padding-left: 0;
}
.card{
	display: block;
	background: #fff;
	padding: 20px;
  	border-radius: 6px;
  	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.38);
  	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.38);
  	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.38);
  	max-width: 800px;
}
.card.big{
	padding:70px 80px;
}
.score-screen .card.big{
	padding:40px 80px;
}

.thanks .card.big{
	
	padding: 49px;
}
.thanks .card.big h2{
	margin-bottom: 20px;
	font-size: 38px;
}
.thanks .card.big p{
	margin-bottom: 23px;
	font-size: 19px;
	line-height: 34px;
	color: #5c5c5c;
}
.thanks .card.big h1{
	color: #ffbf00;
	opacity: 1;
	font-size: 52px;
}
.card h1{
	display: block;
	font-size: 52px;
	line-height: 1;
	opacity: 0.7;
	margin: 0 0 15px;
	padding-bottom: 10px;
}
.card p{
	display: block;
	font-size: 18px;
	line-height: 32px;
	margin: 0 0 15px;
	color: #4c4c4c;
	max-width: 85%;
	margin: auto;
	overflow: hidden;
}
.btn-wrapper{
	display: block;
	width: 100%;
	float: left;
	padding: 20px 0 0;
	overflow: hidden;
}
.btn{
	display: inline-block;
  border-radius: 4px;
  background-color: rgb(83, 80, 77);
	border: 0;
	font-size: 22px;
	color: #fff;
	line-height: 1;
	padding: 10px 15px;
	font-family: inherit;
	letter-spacing: 1px;
	cursor: pointer;
	margin-top: 10px;
	transition: ease all 0.3s;
}
.btn:hover,.btn:focus{
	background-color: rgb(56, 56, 56);
}
.content .title{
	display: block;
	width: 100%;
	padding: 0 0 25px;
	overflow: hidden;
}
.content.horizontal .title{
}
.content .scroll-parent{
	overflow: hidden;
}
.content .scroll-contents{
	display: block;
	width: 100%;
}
.content .scroll-contents .cards-list{
	display: flex;
	overflow-x: auto;
	flex-wrap: nowrap;
	padding-left: 200px;
	padding-top: 10px;
	padding-bottom: 35px;
	margin-bottom: -40px;
	width: 100vw;
}
.content .scroll-contents .card{
	display: flex;
	float: left;
	margin-right: 30px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px 40px;
	min-height: 140px;
	border-radius: 4px;
	flex: 0 0 auto;
}
.content .scroll-contents .card.spacing{
	opacity: 0;
	width: 180px;
}
.content .card label,.content .card input{
	font-family: "Roboto","Source Sans Pro","Arial",sans-serif;
}

.content .card label{
	display: block;
	font-size: 19px;
	font-weight: 400;
	padding:0 0 15px;
	overflow:hidden;
}
.content .card label[for="sign"] + .inputs{
	min-height: 120px;
	display: block;
	width: 100%;
}
.content .signature{
		border: 2px dashed #ddd;
}
.content .card input{
	display: block;
	border:0px;
	text-align: center;
	color: #575c5f;
	font-size: 24px;
}
.content .card .inputs label{
	display: block;
	position: relative;
	float: left;
	font-family: "Roboto","Source Sans Pro","Arial",sans-serif;
	font-size: 15px;
	color: #575c5f;
	margin-right:10px;
	border:1px solid #ddd;
	border-radius:4px;
	line-height:1;
	padding: 8px 15px;
	cursor: pointer;
	transition: ease all 0.3s;
}
.content .card .inputs input[type="radio"]{
	display: none;
}
.content .card .inputs label:hover,.content .card .inputs input:checked + label{
	background-color: #ddd;
}
.content .card .inputs input:disabled + label{
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}
.navigation{
	display: block;
	position: absolute;
	bottom: 0;
	width:100%;
	background: #fff;
	padding: 10px 200px;
	transition: ease all 0.3s;
	-webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
	opacity: 0;
}
.navigation.active{
	-webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
	opacity: 1;
	animation-delay: 2s;
}
.navigation .nums{
	display: inline-block;
	float: left;
	font-size: 18px;
	font-weight: 600;
	color: #4c4c4c;
	padding: 5px 0 0;
}
.navigation .next{
	display: inline-block;
	float: right;
}
.navigation .next .btn{
	font-size: 16px;
	border-radius: 2px;
	margin: 0;
	padding: 8px 15px;
}
.navigation .btn.disabled{
	cursor: default;
	color: #ddd;
	background: #888;
}
.card.max-500{
	padding:20px 25px;
	overflow: hidden;
}
.max-500 > label{
	font-size: 14px;
	line-height: 24px;
	max-width: 540px;
}
.inner-view .card,.inner-view card.max-500{
	min-width: 400px;
	min-height: 200px;
	text-align: left !important;
	padding: 40px;
	display: inline-block;
}
.inner-view .card > label{
	font-size: 16px;
	line-height: 24px;
	max-width: 540px;
}
.inner-view .card input{
	display: block;
	text-align: left;
}

.done{
	display: block;
	width: 100%;
	float: left;
}
.btn{
	-moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.done .btn{
	font-size: 14px;
	border-radius: 2px;
	background: #33c4e8;
	color: #1c6375;
	font-weight: 500;
	padding: 8px 15px;
	height:  30px;
	opacity: 1;
	transform:translateY(0px);
	transition :ease all 0.3s;
}
.done .btn[disabled]{
	opacity: 0;
	transform:translateY(20px);
}

.max-500 .inputs label{
	margin-bottom: 10px;
}
.score-screen .btn{
	padding: 15px 20px;
	font-weight: 500;
}

.end-screen .card{
	
	padding: 80px 80px;
}
.end-screen .card h2{
	
	font-family: "Source Sans Pro","Arial",sans-serif;
	font-size: 36px;
	margin-bottom: 20px;
}
.end-screen .card h1{
	
	line-height: 1.5;
	color: #ffbf00;
	font-family: "Source Sans Pro","Arial",sans-serif;
	opacity: 1;
}
.end-screen .card p{
	
	margin-bottom: 25px;
	font-size: 17px;
	max-width: 80%;
}

.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave,
.slide-top.ng-enter,
.slide-top.ng-leave,
.slide-bottom.ng-enter,
.slide-bottom.ng-leave {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.slide-left.ng-leave {
  z-index: 100;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 0;
}
.slide-left.ng-leave-active {
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
  opacity: 0;
}
.slide-right.ng-enter {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-right.ng-enter-active {
  position: absolute;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
.slide-right.ng-leave-active {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.slide-top.ng-enter {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px);
  opacity: 0;
}
.slide-top.ng-enter-active {
  position: absolute;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
   opacity: 1;
}
.slide-top.ng-leave-active {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
   opacity: 0;
}
.slide-bottom.ng-enter-active {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.slide-bottom.ng-leave {
  z-index: 100;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.slide-bottom.ng-leave-active {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}


.meter{
                max-height: 230px;
            margin-top: -30px;
}
#wrapper {position: relative;  margin: auto;}
		#meter {
		    width: 100%; height: 100%;
		    transform: rotateX(180deg);
		}
		.circle {fill: none;}
		.outline, #mask {
		    stroke: #F1F1F1; 
		    stroke-width: 80;
		}
		.range { stroke-width: 79; }
		#slider, #lbl {
		    position: absolute;
		}
		#slider {
		    cursor: pointer;
		    left: 0;
		    margin: auto;
		    right: 0;
		    top: 58%;
		    width: 94%;
		}
		#lbl {
		    background-color: #4B4C51; 
		    border-radius: 2px;
		    color: white;   
		    font-family: 'courier new';
		    font-size: 15pt;
		    font-weight: bold;
		    padding: 4px 4px 2px 4px;
		    right: -48px;
		    top: 57%;
		}
		#meter_needle {
		    height: 40%;
		    left: 0;
		    margin: auto;
		    position: absolute;
		    right: 0;
		    top: 10%;
		    transform-origin: bottom center;
		    transform: rotate(270deg);
		    transition: ease all 0.5s;
		}
        
        input[type=range] {
            -webkit-appearance: none;
        }
        
        input[type=range]:focus {
            outline: none;
        }
        
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 12px;
            cursor: pointer;
            background: #F6F6F6;
            border-radius: 25px;
            box-shadow: 0 0 0 1px #f6f6f6;
        }
        
        input[type=range]::-webkit-slider-thumb {
            box-shadow: 0 0 2px #B2B2B2;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background: #fff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -9px;
        }
        
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #F6F6F6;

        }
        
        input[type=range]::-moz-range-track {
            width: 100%;
            height: 12.8px;
            cursor: pointer;
            background: #F6F6F6;
            border-radius: 25px;
        }
        
        input[type=range]::-moz-range-thumb {
            box-shadow: 0 0 2px #B2B2B2;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background: #fff;
            cursor: pointer;
        }
        
        input[type=range]::-ms-track {
            width: 100%;
            height: 12.8px;
            cursor: pointer;
        }
        
        input[type=range]::-ms-fill-lower {
            background: #F6F6F6;
            border-radius: 50px;
        }
        
        input[type=range]::-ms-fill-upper {
            background: #F6F6F6;
            border-radius: 50px;
        }
        
        input[type=range]::-ms-thumb {
            height: 30px;
            width: 30px;
            top: 5px;
            position: relative;
            background: #fff;
            cursor: pointer;
            box-shadow: 0 0 2px #B2B2B2;
        }
        
        input[type=range]:focus::-ms-fill-lower {
            background: #F6F6F6;
        }
        
        input[type=range]:focus::-ms-fill-upper {
            background: #F6F6F6;
        }

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}



/* basic styling for entering and leaving */
/* left and right added to ensure full width */
.outer.ng-enter,.inner-view.ng-enter,
.outer.ng-leave ,.inner-view.ng-leave{ 
	position:absolute; 
    transition:0.5s all ease; 
    -moz-transition:0.5s all ease; 
    -webkit-transition:0.5s all ease; 
}

/* enter animation */
.inner-view.ng-enter,.outer.ng-enter        { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}

/* leave animation */
.inner-view.ng-leave,.outer.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}

.login .outer.ng-enter        { 
    -webkit-animation:fadeInForm 0.5s both ease;
    -moz-animation:fadeInForm 0.5s both ease;
    animation:fadeInForm 0.5s both ease; 
}
.inoutform .infoform{
	 -webkit-animation:slideInTop 0.7s both ease;
   -moz-animation:slideInTop 0.7s both ease;
   animation:slideInTop 0.7s both ease; 
}
@keyframes fadeInForm {
    from    { transform:none; opacity: 0;}
    to      { transform: none; opacity: 1;}
}
@-moz-keyframes fadeInForm {
    from    { -moz-transform:none; opacity: 0;}
    to      { -moz-transform: none; opacity: 1;}
}
@-webkit-keyframes fadeInForm {
    from    { -webkit-transform:none; opacity: 0;}
    to      { -webkit-transform: none; opacity: 1;}
}

/* slide out to the left */
@keyframes slideInTop {
	  from    {transform: translateY(-50px); opacity: 0;}
    to      { transform: translateY(0px); opacity: 1;}
}
@-moz-keyframes slideInTop {  
	  from    {transform: translateY(-50px); opacity: 0;}
    to      { transform: translateY(0px); opacity: 1;}
}
@-webkit-keyframes slideInTop {
	  from    {transform: translateY(-50px); opacity: 0;}
    to      { transform: translateY(0px); opacity: 1;}
}


/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); opacity: 0;}
    to      { transform: translateX(0); opacity: 1;}
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); opacity: 0;}
    to      { -moz-transform: translateX(0); opacity: 1;}
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); opacity: 0;}
    to      { -webkit-transform: translateX(0); opacity: 1;}
}

.inoutform{
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inoutform .contentwithbg{
  display: flex;
  position: relative;
  width: 55%;
  float: left;
  height: 100vh;
  background-size: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.inoutform .contentwithbg.signin{
  background: url('../img/loginbg.jpg');
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.inoutform .contentwithbg.register{
  background: url('../img/register_bg.png');
}
.inoutform .infoform{
  display: flex;
  position: relative;
  background: #fff;
	padding: 20px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.38);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.38);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.38);
	max-width: 800px;
  float: left;
  height: auto;
  background-size: 100%;
  text-align: center;
  justify-content: center;
  align-items: left;
  flex-direction:column;
  background: #fff;
  padding: 50px;
}

.inoutform .infoform span{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
}
.infoform > span.alert-msg{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 50%;
	display: block;
	font-size:14px;
	line-height: 2;
	top: 100%;
	height: 30px;
	background: #333;
	color: #fff;
	width: 200px;
	transform: translateY(0px) translateX(-50%);
	border-radius: 4px 4px 0px 0px;
	transition:ease all 0.3s;
	opacity: 0;
}
.infoform > span.alert-msg.active{
	transform: translateY(-30px);
	opacity: 1;
}
.inoutform .infoform span a{
  color: #878787;
  position: relative;
  display: block;
  padding-left: 10px;
}
.inoutform .infoform span a:before{
  content: '';
  background: url('../img/back.png');
  display: block;
  width: 5px;
  height: 10px;
  position:absolute;
  left: 0;
  top: 9.4px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 5px;
}
.inoutform .infoform .content{
  display: block;
  max-width: 350px;
  margin: auto;
  float: none;
  width: 100%;
  text-align: left;
  height: auto;
}
.infoform .group {
    margin: 10px 0 20px;
    display: block;
    float: left;
    width: 100%;
}
.infoform .group:nth-child(3) a{
  text-align: right;
  float: right;
  font-size: 13px;
  color: #9b9a9a;
}
.infoform .group:last-child{
  margin-bottom: 0;
  padding-top: 15px;
}
.infoform .group:nth-last-child(2){
  margin-bottom: 0;
}
.infoform .group.fpass{
  margin-top: -10px;
  margin-bottom: 15px;
}
.inoutform .infoform form{
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
}
.inoutform .infoform .content h2{
  display: block;
  font-size: 28px;
  line-height: 1;
  margin: 0 0 30px;
  padding: 0 0 5px;
  overflow: hidden;
  text-align: center;
}

.inoutform .contentwithbg::before{
  content: '';
  position: absolute;
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(0,0,0) 44%, rgb(128,128,128) 76%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(0,0,0) 44%, rgb(128,128,128) 76%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(0,0,0) 44%, rgb(128,128,128) 76%, rgb(255,255,255) 100%);
  opacity: 0.439;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.inoutform .logo{
  position: relative;
  z-index: 100;
  max-height: 150px;
  top: -20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.inoutform .logo img{
	max-height: 100px;
	display: inline-block;
	float: none;
	margin: auto;
}
.inoutform .contentwithbg .content{
  display: block;
  max-width: 70%;
  color: #fff;
  z-index: 100;
  margin-top: 60px;
  height: auto;
}

.inoutform .contentwithbg .content h3{
  display: block;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  overflow: hidden;
}

.inoutform .contentwithbg .content p{
  display: block;
  font-size: 14px;
  line-height: 32px;
  margin: 0 0 20px;
  overflow: hidden;
  float: left;
  color: #fff;
}
.inoutform .contentwithbg .content .form{
  display: block;
  width: 100%;
  overflow: hidden;
}
.inoutform .contentwithbg .content form{
  display: block;
  width: 320px;
  height: 50px;
  float: none;
  margin: 15px auto 0;
  background: #fff;
  border-radius: 3px;
  padding: 7px;
  overflow: hidden;
}

.inoutform .contentwithbg .content .form input{
  display: block;
  width: 190px;
  float: left;
  padding: 8px;
  font-size: 14px;
  border:0px;
  margin-top: 2px;
}

.inoutform .contentwithbg .content .form button{
  display: block;
  background: #f73c4c;
  float: right;
  max-width: 100px;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: inherit;
  border-radius: 3px;
  cursor: pointer;
}
.inoutform .infoform .content form button{
  display: block;
  background: #f73c4c;
  float: left;
  width: 100%;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: inherit;
  border-radius: 3px;
  cursor: pointer;
  height: 50px;
}
.inoutform .infoform .content form button:disabled{
	opacity: 0.8;
	cursor: default;
}
.inoutform .infoform .content .group:last-child{
  display: block;
  font-size: 14px;
  text-align: center;
}

.contact-body form input,.contact-body form textarea,.contact-body form select,.infoform input,.infoform select{
  display: block;
  width: 100%;
  border:0px;
  font-size: 13px;
  padding: 7px 0;
  border-bottom: 1px solid #efefef;
  
  box-shadow: none;
}
.contact-body form .group,.infoform .group{
  position: relative;
}
.contact-body form .border,.infoform .border{
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #ef3645;
  left: 100%;
  right: 100%;
  transition: ease all 0.2s;
}

.contact-body form .half:nth-child(even) input:focus + .border{
  left: 30px;
  right: 0px;
}
.contact-body form .half:nth-child(odd) input:focus + .border{
  left: 0;
  right: 30px;
}
.contact-body form textarea:focus + .border,.infoform input:focus + .border{
  left: 0;
  right: 0;
}
.contact-body form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ababab;
}
.contact-body form ::-moz-placeholder { /* Firefox 19+ */
  color: #ababab;
}
.contact-body form :-ms-input-placeholder { /* IE 10+ */
  color: #ababab;
}
.contact-body form :-moz-placeholder { /* Firefox 18- */
  color: #ababab;
}


.inoutform .infoform form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ababab;
}
.inoutform .infoform form ::-moz-placeholder { /* Firefox 19+ */
  color: #ababab;
}
.inoutform .infoform form :-ms-input-placeholder { /* IE 10+ */
  color: #ababab;
}
.inoutform .infoform form :-moz-placeholder { /* Firefox 18- */
  color: #ababab;
}
.inoutform .infoform form button p{
	display:inline-block;
	color: #fff;
	padding: 0;
}
.loader{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 6px;
	left: 60%;
}
.spinner {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 0;
  top: 7px;
	margin-right: -15px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.slider-wrap{
	display: block;
	width: 100%;
}

.slide .card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	min-width: 300px;
	margin-right: 30px;
	min-height: 200px;
	padding: 40px;
	max-width: 580px;
}
.signup .card{
	min-height: 175px;
	overflow: visible;
}

.lifestyle .card{
	align-items: flex-start;
}

.slick-slide{
	opacity: 1;
	transform: scale(0.95,0.95);
	transition: ease all 0.3s;
}
.slick-slide .card:after{
	display: block;
	background: #fff;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 1000;
	opacity: 0.8;
	transition: ease all 0.3s;
	border-radius: 4px;
}
.slick-slide.slick-current{
	transform: scale(1,1);
	opacity: 1;
}
.slick-slide.slick-current .card:after{
	opacity: 0;
	pointer-events: none;
}
.slick-list{
	overflow: visible;
}
.angular-lightbox section {
  position: fixed;
  z-index: 100065;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.angular-lightbox section > article {
  color: white;
}
.angular-lightbox section > article > header a.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3em;
  cursor: pointer;
  color: #DDD;
}
.angular-lightbox section > article > header a.close-btn:hover, .angular-lightbox section > article > header a.close-btn:focus {
  color: white;
}
.angular-lightbox section > article > content {
  margin: 0 auto;
  height: 50%;
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
  /*  @media screen and (min-width: $maxWidthContent) {
     width: $maxWidthContent;
   } */
}
.angular-lightbox section > article > content > iframe {
  max-width: 900px;
  margin: 0 auto;
}
.angular-lightbox{
	position: absolute;
	display: block;
	width: 100%;
	height: 100vh;
	opacity: 1;
	transition: ease all 0.5s;
	overflow: hidden;
}
.angular-lightbox.hidden {
  opacity: 0;
	transition: ease all 0.5s;
	pointer-events: none;
}
.angular-lightbox .video-wrapper{
	display: block;
	width: 100%;
	height: 100vh;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	overflow: hidden;
}
.angular-lightbox #background{
	display: block;
	width: auto;
	height: 80vh;
}
.angular-lightbox .close-btn{
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	right: 20px;
	top: 20px;
	cursor: pointer;
	background: transparent;
	overflow: hidden;
  transform: rotate(45deg);
}
.angular-lightbox .close-btn:before,.angular-lightbox .close-btn:after{
	content: '';
	display: block;
	position: relative;
	width: 24px;
	height: 2px;
	top: 50%;
	margin-top: -1px;
	background: #ddd;
	overflow: hidden;

}
.angular-lightbox .close-btn:before{
	transform: rotate(90deg);
}
.angular-lightbox .close-btn:after{
}

.vid-thumb{
	display: block;
	position: relative;
	width: 33.33%;
	float: left;
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
}
.vid-thumb img{
	display: block;
	width: 100%;
	height: auto;
	border: 4px solid #fff;
}
.vid-thumb h3{
	display: block;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	color: #fff;
	font-size: 18px;
	line-height: 2;
  text-align: center;	
}
.flexMe{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.flexMe .outer{
	display: block !important;
	height: auto;
	width: auto;
	margin-top: -100px;
}
.card .error{
  display: inline-block;
  position: absolute;
  z-index: 100;
  text-align:center;
  opacity: 0;
  transition: ease all 0.2s;
  pointer-events: none;
  background: #535353;
  color: #fff;
  font-size: 13px;
  top: 45px;
  width: auto;
  left: 50%;
  line-height: 1;
  padding: 5px 10px;
  border-radius: 3px;
  float: none;
  transform: translateX(-50%) !important;
}
.card .error:before{
  top: -8px;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(29, 39, 46, 0);
  border-bottom-color: #535353;
  border-width: 4px;
  margin-left: -2px;
}
.card .error{
  transform: none;
  opacity: 1;
  pointer-events: all;
}

.exit{
	right: 10px;
	top: 0;
	color: transparent;
	background: url("../img/logout.png") no-repeat left center #fff;
	overflow: hidden;
	z-index: 2000000;
	color: #333;
	padding-left: 10px;
	width: 80px;
	font-size: 16px;
	line-height: 1;
	background-size: 20px;
	background-position: 5px 6px;
	padding-left: 27px;
	padding-top: 5px;
	padding-bottom: 6px;
	height: auto;
	padding-right: 20px;
	border-radius: 2px;
	line-height: 1.25;
	position: fixed;
	z-index: 999922;
}
.thanks .wmv{
	font-size: 18px;
	right: 99px;
	top:0;
	background: url("../img/more.png") no-repeat center center #fff;
	z-index: 10000;
	padding: 10px;
	color: #333;
	padding-left: 10px;
	width: auto;
	font-size: 16px;
	line-height: 1;
	background-size: 20px;
	background-position: 5px 6px;
	padding-left: 31px;
	padding-top: 5px;
	padding-bottom: 6px;
	height: auto;
	padding-right: 7px;
	border-radius: 2px;
	line-height: 1.25;
}
.exit:hover,.thanks .wmv:hover,.exit:focus,.thanks .wmv:focus{
	background-color: #fff;
	color: #333;
}

.thanks ~ .fancybox-container .fancybox-slide{
	pointer-events: all;
}
.exit,.thanks .wmv{
	display: inline-block;
	position: absolute;
	top: 4px;
	overflow: hidden;
	transition: ease all 0.1s;
	border: 1px solid #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.exit.bck{
	top: auto;
	bottom: 10px;
	background: url("../img/back.png") no-repeat 4px center #fff;
	background-size: 20px;
}