<div class="content horizontal padding-active lifestyle">
	<div class="content-inner slidr-wrap">
		<div class="title">
			<h2>Time to take a stress test</h2>
		</div>
		<form class="animation-cover" name="userLifestyleForm" novalidate="true">
			<slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded">

                <div class="slide" ng-click="makeMeActive($event)" data-field="wiw">
					<div class="card max-500">
						<label>For how many days do you work in a week?</label>
						<div class="inputs">
							<input type="radio" name="workinweek" ng-model="lifestyleData.A" id="0days" value="0" required>
							<label for="7days">Zero</label>
							<input type="radio" name="workinweek" ng-model="lifestyleData.A" id="l5days" value="1" required>
							<label for="l5days">Less than 5 days</label>
							<input type="radio" name="workinweek" ng-model="lifestyleData.A" id="5days" value="2" required>
							<label for="5days">5 days</label>
							<input type="radio" name="workinweek" ng-model="lifestyleData.A" id="m5days" value="3" required>
							<label for="m5days">More than 5 days</label>
							<input type="radio" name="workinweek" ng-model="lifestyleData.A" id="7days" value="4" required>
							<label for="7days">All 7 days</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="lfw">
					<div class="card max-500">
						<label>How often do you take a leave from work?</label>
						<div class="inputs">
							<input type="radio" name="holidaysinwork" ng-model="lifestyleData.B" id="oweek" value="0" required>
							<label for="oweek">Once a week</label>
							<input type="radio" name="holidaysinwork" ng-model="lifestyleData.B" id="omonth" value="1" required>
							<label for="omonth">Once a month</label>
							<input type="radio" name="holidaysinwork" ng-model="lifestyleData.B" id="oyear" value="2" required>
							<label for="oyear">Once a year</label>
							<input type="radio" name="holidaysinwork" ng-model="lifestyleData.B" id="moyear" value="3" required>
							<label for="moyear">More than once a year</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="hiy">
					<div class="card max-500">
						<label>How often do you go on holidays in a year?</label>
						<div class="inputs">
							<input type="radio" name="vacationinyear" ng-model="lifestyleData.C" id="voweek" value="0" required>
							<label for="voweek">Once a week</label>
							<input type="radio" name="vacationinyear" ng-model="lifestyleData.C" id="vomonth" value="1" required>
							<label for="vomonth">Once a month</label>
							<input type="radio" name="vacationinyear" ng-model="lifestyleData.C" id="voyear" value="2" required>
							<label for="voyear">Once a year</label>
							<input type="radio" name="vacationinyear" ng-model="lifestyleData.C" id="vmoyear" value="3" required>
							<label for="vmoyear">More than once a year</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="dvac">
					<div class="card max-500">
						<label>Where would your dream vacation be?</label>
						<div class="inputs">
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="beach" value="0" required>
							<label for="beach">Beaches</label>
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="hills" value="1" required>
							<label for="hills">Hills</label>
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="hsites" value="2" required>
							<label for="hsites">Heritage Sites - Forts and Temples</label>
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="jungle" value="3" required>
							<label for="jungle">Jungles</label><!-- 
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="other" value="3" required>
							<label for="other">Others</label> -->
						</div>
						<div class="done">
							<a ui-sref="scorecard" class="btn" ng-disabled="userLifestyleForm.$invalid">Done</a>
						</div>
					</div>
                </div>
            </slick>
		</form>
	</div>
</div>

<!-- <div class="navigation" ng-class="makeMeVisible();">
	<div class="nums">{{pageNum}} of 14</div>
	<div class="next">
		<a ng-click="slickConfig.method.slickPrev()" class="btn">Back</a>
		<a ng-click="slickConfig.method.slickNext()" class="btn">Next</a>
	</div>
</div>
						
 -->