<div class="content horizontal padding-active lifestyle">
	<div class="content-inner slidr-wrap">
		<div class="title">
			<h2>Holiday Meter</h2>
		</div>
		<form name="userLifestyle" class="animation-cover">
			<slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded">

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>I shall take a vacation with family.</label>
						<div class="inputs">
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="mostlikely" value="0" required>
							<label for="mostlikely">Most Likely</label>
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="morelikely" value="1" required>
							<label for="morelikely">More Likely</label>
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="neuteral" value="2" required>
							<label for="neuteral">Neutral</label>
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="lesslikely" value="3" required>
							<label for="lesslikely">Less Likely</label>
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="leastlikely" value="4" required>
							<label for="leastlikely">Least Likely</label>
						</div>		
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>My vacations are for at least 10 days a year.</label>
						<div class="inputs">
							<input type="radio" name="tendays" ng-model="metereData.B" id="tmostlikely" value="0" required>
							<label for="tmostlikely">Most Likely</label>
							<input type="radio" name="tendays" ng-model="metereData.B" id="tmorelikely" value="1" required>
							<label for="tmorelikely">More Likely</label>
							<input type="radio" name="tendays" ng-model="metereData.B" id="tneuteral" value="2" required>
							<label for="tneuteral">Neutral</label>
							<input type="radio" name="tendays" ng-model="metereData.B" id="tlesslikely" value="3" required>
							<label for="tlesslikely">Less Likely</label>
							<input type="radio" name="tendays" ng-model="metereData.B" id="tleastlikely" value="4" required>
							<label for="tleastlikely">Least Likely</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>I prefer international vacations.</label>
						<div class="inputs">
							<input type="radio" name="vacationwithfamilyq" ng-model="metereData.C" id="vmostlikely" value="0" required>
							<label for="vmostlikely">Most Likely</label>
							<input type="radio" name="vacationwithfamilyq" ng-model="metereData.C" id="vmorelikely" value="1" required>
							<label for="vmorelikely">More Likely</label>
							<input type="radio" name="vacationwithfamilyq" ng-model="metereData.C" id="vneuteral" value="2"  required>
							<label for="vneuteral">Neutral</label>
							<input type="radio" name="vacationwithfamilyq" ng-model="metereData.C" id="vlesslikely" value="3" required>
							<label for="vlesslikely">Less Likely</label>
							<input type="radio" name="vacationwithfamilyq" ng-model="metereData.C" id="vleastlikely" value="4" required>
							<label for="vleastlikely">Least Likely</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>I do adventure and holiday activities.</label>
						<div class="inputs">
							<input type="radio" name="holidayactivities" ng-model="metereData.D" id="hmostlikely" value="0" required>
							<label for="hmostlikely">Most Likely</label>
							<input type="radio" name="holidayactivities" ng-model="metereData.D" id="hmorelikely" value="1" required>
							<label for="hmorelikely">More Likely</label>
							<input type="radio" name="holidayactivities" ng-model="metereData.D" id="hneuteral" value="2" required>
							<label for="hneuteral">Neutral</label>
							<input type="radio" name="holidayactivities" ng-model="metereData.D" id="hlesslikely" value="3" required>
							<label for="hlesslikely">Less Likely</label>
							<input type="radio" name="holidayactivities" ng-model="metereData.D" id="hleastlikely" value="4" required>
							<label for="hleastlikely">Least Likely</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>Vacation means a break from the routine life.</label>
						<div class="inputs">
							<input type="radio" name="whatIsmeanbycacation" ng-model="metereData.E" id="wmostlikely" value="0" required>
							<label for="wmostlikely">Most Likely</label>
							<input type="radio" name="whatIsmeanbycacation" ng-model="metereData.E" id="wmorelikely" value="1" required>
							<label for="wmorelikely">More Likely</label>
							<input type="radio" name="whatIsmeanbycacation" ng-model="metereData.E" id="wneuteral" value="2" required>
							<label for="wneuteral">Neutral</label>
							<input type="radio" name="whatIsmeanbycacation" ng-model="metereData.E" id="wlesslikely" value="3" required>
							<label for="wlesslikely">Less Likely</label>
							<input type="radio" name="whatIsmeanbycacation" ng-model="metereData.E" id="wleastlikely" value="4" required>
							<label for="wleastlikely">Least Likely</label>
						</div>
						<div class="done">
							<a ui-sref="meter" class="btn" ng-disabled="userLifestyle.$invalid">Continue</a>
						</div>
					</div>
                </div>
            </slick>
		</form>
	</div>
</div>
<!-- 
<div class="navigation" ng-class="makeMeVisible();">
	<div class="nums">{{pageNum}} of 14</div>
	<div class="next">
		<a ng-click="slickConfig.method.slickPrev()" class="btn">Back</a>
		<a ng-click="slickConfig.method.slickNext()" class="btn">Next</a>
	</div>
</div> -->