<div class="card big txt-center">
	<h2>You Scored <span>52</span>% </h2>
	<div class="meter">
	    <div id="wrapper">
			<svg id="meter">
			    <circle id="outline_curves" class="circle outline"  cx="50%" cy="50%">
			    </circle>
			    <circle id="low" class="circle range" cx="50%" cy="50%" stroke="#ffda00">
			    </circle>
			    <circle id="avg" class="circle range" cx="50%" cy="50%" stroke="#ffda00">
			    </circle>
			    <circle id="high" class="circle range" cx="50%" cy="50%" stroke="#ffda00">
			    </circle>
			    <circle id="mask" class="circle" cx="50%" cy="50%" >
			    </circle>
			    <circle id="outline_ends" class="circle outline" cx="50%" cy="50%">
			    </circle>
			</svg>
			<img id="meter_needle" src="img/svg-meter-gauge-needle.svg" alt="">
		</div>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim adminim venrudgiat nulla pariatur.</p>
	<div class="btn-wrapper">
		<a href="#" class="btn big">Watch Video</a>
	</div>
</div>