<div class="inoutform">
  <div class="contentwithbg signin">

  </div>
  <div class="infoform">
  	<div class="logo">
      <a href="/login"><img src="img/logo.png" alt="Club Mahindra"></a>
    </div>
    <div class="content" ng-controller="LoginController">
      <h2>Login Portal</h2>
      
      <form name="form" ng-submit="form.$valid && login()" role="form" >				   
        <div class="group">
        	<input type="text" name="username" id="username" ng-model="username" placeholder="Username" autocomplete="nope" required />
          <div class="border"></div>
        </div>
        <div class="group">
        	<input type="password" name="password" id="password" ng-model="password" placeholder="Password" autocomplete="nope" required />
          <div class="border"></div>
        </div>

        <div class="group">
          <button type="submit" ng-disabled="form.$invalid"  class="btn red coloured"><p>Login</p> 
            <!-- <div class="loader" ng-class="(dataLoading=='true') ? 'active' : ''">
              <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
            </div> -->
          </button>
        </div>
      </form>
    </div>
<!--      <span class="alert-msg" ng-class="(dataLoading=='true') ? 'active' : ''" >Oops! Invalid Credentials :(</span>
 -->  </div>
</div>