<div class="content horizontal padding-active lifestyle">
	<div class="content-inner slidr-wrap">
		<div class="title">
			<h2>Travel-o-Meter</h2>
		</div>
		<form name="userLifestyle" class="animation-cover">
			<slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded">

                <div class="slide" ng-click="makeMeActive($event)" data-field="hwf">
					<div class="card max-500">
						<label>How likely are you to holiday with your family?</label>
						<div class="inputs">
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="mostlikely" value="0" required>
							<label for="mostlikely">Very likely</label>
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="morelikely" value="1" required>
							<label for="morelikely">Likely</label>
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="neuteral" value="2" required>
							<label for="neuteral">Not sure</label>
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="lesslikely" value="3" required>
							<label for="lesslikely">Unlikely</label>
							<input type="radio" name="vatationwithfamily" ng-model="metereData.A" id="leastlikely" value="4" required>
							<label for="leastlikely">Very unlikely</label>
						</div>		
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="fuh">
					<div class="card max-500">
						<label>For how long do you usually holiday?</label>
						<div class="inputs">
							<input type="radio" name="uholiday" ng-model="metereData.B" id="l5uholiday" value="0" required>
							<label for="l5uholiday">Less than 5 days</label>
							<input type="radio" name="uholiday" ng-model="metereData.B" id="d5uholiday" value="1" required>
							<label for="d5uholiday">5 days</label>
							<input type="radio" name="uholiday" ng-model="metereData.B" id="d10uholiday" value="2" required>
							<label for="d10uholiday">10 days</label>
							<input type="radio" name="uholiday" ng-model="metereData.B" id="m10uholiday" value="3" required>
							<label for="m10uholiday">More than 10 days</label>
							<input type="radio" name="uholiday" ng-model="metereData.B" id="nsuholiday" value="4" required>
							<label for="nsuholiday">Not sure</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="newdest">
					<div class="card max-500">
						<label>What do you like to explore when visiting a new destination?</label>
						<div class="inputs">
							<input type="radio" name="exploredest" ng-model="metereData.C" id="cult" value="0" required>
							<label for="cult">Culture</label>
							<input type="radio" name="exploredest" ng-model="metereData.C" id="cusn" value="1" required>
							<label for="cusn">Cuisine</label>
							<input type="radio" name="exploredest" ng-model="metereData.C" id="monmnts" value="2"  required>
							<label for="monmnts">Monuments</label>
							<input type="radio" name="exploredest" ng-model="metereData.C" id="othersplc" value="3" required>
							<label for="othersplc">Others</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="intdest">
					<div class="card max-500">
						<label>How likely are you to holiday at international destinations?</label>
						<div class="inputs">
							<input type="radio" name="intdest" ng-model="metereData.D" id="idmostlikely" value="0" required>
							<label for="idmostlikely">Very likely</label>
							<input type="radio" name="intdest" ng-model="metereData.D" id="idmorelikely" value="1" required>
							<label for="idmorelikely">Likely</label>
							<input type="radio" name="intdest" ng-model="metereData.D" id="idneuteral" value="2" required>
							<label for="idneuteral">Not sure</label>
							<input type="radio" name="intdest" ng-model="metereData.D" id="idlesslikely" value="3" required>
							<label for="idlesslikely">Unlikely</label>
							<input type="radio" name="intdest" ng-model="metereData.D" id="idleastlikely" value="4" required>
							<label for="idleastlikely">Very unlikely</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="advcat">
					<div class="card max-500">
						<label>How likely do you enjoy adventure activities?</label>
						<div class="inputs">
							<input type="radio" name="advact" ng-model="metereData.E" id="admostlikely" value="0" required>
							<label for="admostlikely">Very likely</label>
							<input type="radio" name="advact" ng-model="metereData.E" id="admorelikely" value="1" required>
							<label for="admorelikely">Likely</label>
							<input type="radio" name="advact" ng-model="metereData.E" id="adneuteral" value="2" required>
							<label for="adneuteral">Not sure</label>
							<input type="radio" name="advact" ng-model="metereData.E" id="adlesslikely" value="3" required>
							<label for="adlesslikely">Unlikely</label>
							<input type="radio" name="advact" ng-model="metereData.E" id="adleastlikely" value="4" required>
							<label for="adleastlikely">Very unlikely</label>
						</div>
						<div class="done">
							<a ui-sref="meter" class="btn" ng-disabled="userLifestyle.$invalid">Continue</a>
						</div>
					</div>
                </div>
            </slick>
		</form>
	</div>
</div>