<div class="content horizontal padding-active" ng-controller="signupCtrl">
	<div class="content-inner slidr-wrap">
		<div class="title">
			<h2>Let’s get to know each other</h2>
		</div>
		<form class="animation-cover" autocomplete="off" name="userInfo" novalidate="true">
			<slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded">

                <div class="slide" ng-click="makeMeActive($event)" data-field="name">
					<div class="card max-500">
						<label for="name">What do people call you?</label>
						<div class="inputs">
							<input type="text" name="name" ng-model="userInfoDataArray.name" ng-pattern="/^[a-zA-Z ]*$/" ng-minlength="3"  required />
							<span class="error" ng-show="userInfo.name.$dirty && (userInfo.name.$error.required || userInfo.name.$error.minlength || serInfo.name.$error.pattern)">Enter Valid Name!</span>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="age">
					<div class="card max-500">
						<label for="age">How young are you?</label>
						<div class="inputs">
							<input type="text" name="age" ng-model="userInfoDataArray.age" ng-pattern="/^[0-9]{2}/" required/>
							<span class="error" ng-show="userInfo.age.$dirty && (userInfo.age.$error.required || userInfo.age.$error.pattern)">Enter Valid Age!</span>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="mstatus">
					<div class="card max-500">
						<label for="mstatus">Have you found that special one?</label>
						<div class="inputs">
							<input type="radio" name="mstatus" ng-model="userInfoDataArray.mstatus" id="single" value="2" required></input>
							<label for="single">Single</label>
							<input type="radio" name="mstatus" ng-model="userInfoDataArray.mstatus" id="engaged" value="0" required></input>
							<label for="engaged">Engaged</label>
							<input type="radio" name="mstatus" ng-model="userInfoDataArray.mstatus" id="relation" value="1" required></input>
							<label for="relation">In a relationship</label>
							<span class="error" ng-show="userInfo.$submitted && !userInfo.mstatus">Selection is Required!</span>
						</div>
						
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="kids">
					<div class="card max-500">
						<label for="children">Children, if any.</label>
						<div class="inputs">
							<input type="text" name="children" ng-model="userInfoDataArray.children" ng-pattern="/^[0-9]{1,2}/"></input>
							<span class="error" ng-show="(userInfo.$submitted || userInfo.children.$dirty) && (userInfo.children.$error.required || userInfo.children.$error.pattern)">Enter Valid Input!</span>
						</div>
					</div>
                </div>

               
                <div class="slide" ng-click="makeMeActive($event)" data-field="pemail">
					<div class="card max-500">
						<label for="phone">What should we dial to contact you?</label>
						<div class="inputs">
							<input type="text" name="phone" ng-model="userInfoDataArray.phone" ng-pattern="/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/"></input>
							<span class="error" ng-show="(userInfo.$submitted || userInfo.phone.$dirty) && ( userInfo.phone.$error.pattern)">Enter Valid Input!</span>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)" data-field="pemail">
					<div class="card max-500">
						<label for="email">We don’t have pigeons to communicate.<br/>Can we have your e-mail ID?</label>
						<div class="inputs">
							<input type="email" name="email" ng-model="userInfoDataArray.email"></input>
							<span class="error" ng-show="userInfo.$submitted || !userInfo.email.$valid && userInfo.email.$dirty">Enter Valid Email ID!</span>
						</div>
					</div>
                </div>


                <div class="slide" ng-click="makeMeActive($event)" data-field="signature">
					<div class="card max-500">
						<label for="sign">Your autograph please!</label>
						<div class="inputs">
							<signature-pad accept="accept" clear="clear" height="140" width="300" disabled="false" ng-model="userInfo.sign"></signature-pad>
							<p class="tc">I give my solicit consent to Club Mahindra to contact me on shared details for their products and offers</p>
						</div>
						<div class="done">
							<a ng-click="clear(); toggleSign();" class="btn">Sign Again</a>
							<a ui-sref="lifestyle" class="btn" ng-show="userInfo.$valid && !needToBeSigned" ng-click="signUpInfo()">Continue</a>
						</div>
					</div>
                </div>

            </slick>
		</form>
	</div>
</div>
