<div class="content horizontal padding-active lifestyle">
	<div class="content-inner slidr-wrap">
		<div class="title">
			<h2>Lifestyle</h2>
		</div>
		<form class="animation-cover" name="userLifestyleForm" novalidate="true">
			<slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded">

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>Select the number of days you work in a week.</label>
						<div class="inputs">
							<input type="radio" name="workinweek" ng-model="lifestyleData.A" id="5days" value="0" required>
							<label for="5days">Less than 5 days</label>
							<input type="radio" name="workinweek" ng-model="lifestyleData.A" id="6days" value="1" required>
							<label for="6days">5 or 6 days</label>
							<input type="radio" name="workinweek" ng-model="lifestyleData.A" id="7days" value="2" required>
							<label for="7days">All 7 days</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>Select the number of holidays you take from work.</label>
						<div class="inputs">
							<input type="radio" name="holidaysinwork" ng-model="lifestyleData.B" id="oweek" value="0" required>
							<label for="oweek">Once a week</label>
							<input type="radio" name="holidaysinwork" ng-model="lifestyleData.B" id="omonth" value="1" required>
							<label for="omonth">Once a month</label>
							<input type="radio" name="holidaysinwork" ng-model="lifestyleData.B" id="rerely" value="2" required>
							<label for="rerely">Rarely(3-4 times a year)</label>
							<input type="radio" name="holidaysinwork" ng-model="lifestyleData.B" id="osick" value="3" required>
							<label for="osick">Only when sick</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>Select the number of vacations you take in a year.</label>
						<div class="inputs">
							<input type="radio" name="vacationinyear" ng-model="lifestyleData.C" id="zero" value="0" required>
							<label for="zero">Zero</label>
							<input type="radio" name="vacationinyear" ng-model="lifestyleData.C" id="once" value="1" required>
							<label for="once">Once</label>
							<input type="radio" name="vacationinyear" ng-model="lifestyleData.C" id="twice" value="2" required>
							<label for="twice">Twice</label>
							<input type="radio" name="vacationinyear" ng-model="lifestyleData.C" id="morethantwice" value="3" required>
							<label for="morethantwice">More than Twice</label>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label>Select your preferred vacation.</label>
						<div class="inputs">
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="beach" value="0" required>
							<label for="beach">Beach</label>
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="hills" value="1" required>
							<label for="hills">Hills</label>
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="hsites" value="2" required>
							<label for="hsites">Heritage Sites - Forts and Temples</label>
							<input type="radio" name="preferredvacation" ng-model="lifestyleData.D" id="adventure" value="3" required>
							<label for="adventure">Adventure (Jungle, Trek, etc.)</label>
						</div>
						<div class="done">
							<a ui-sref="scorecard" class="btn" ng-disabled="userLifestyleForm.$invalid">Done</a>
						</div>
					</div>
                </div>
            </slick>
		</form>
	</div>
</div>

<!-- <div class="navigation" ng-class="makeMeVisible();">
	<div class="nums">{{pageNum}} of 14</div>
	<div class="next">
		<a ng-click="slickConfig.method.slickPrev()" class="btn">Back</a>
		<a ng-click="slickConfig.method.slickNext()" class="btn">Next</a>
	</div>
</div>
						
 -->