<a href="javascript:;" class="btn big wmv">Watch Video</a>

<a ng-click="reSurvey()" class="btn big exit">Exit</a>

<div class="content">
	<div class="card big txt-center">
		<h2>Liked the video?</h2>
		<p>We can make this dream vacation of yours a reality. Contact your nearest Club Mahindra representative and let us know when we can contact you.</p>
		<p>Thank you for your time!</p>
		<p>A spectacular life awaits you with Club Mahindra.</p>
		<h1>Happy Holidaying!!</h1>
	</div>
</div>

<a ui-sref="scorecard" class="btn big exit bck">Back</a>

<div id="hidden-content-0" ng-controller="videoCtrl" style="display:none;">
	<div class="flexMe">
		<div class="outer">
		<div class="vid-thumb" ng-click="videopopup('36VWRHn7RdM')" ng-tap="videopopup('36VWRHn7RdM')"><img src="http://img.youtube.com/vi/36VWRHn7RdM/mqdefault.jpg" />
			<h3>Varca Goa</h3></div >
		<div class="vid-thumb" ng-click="videopopup('E3qL99yzrIo')" ng-tap="videopopup('E3qL99yzrIo')"><img src="http://img.youtube.com/vi/E3qL99yzrIo/mqdefault.jpg" />
			<h3>Poovar-New</h3></div >
		<div class="vid-thumb" ng-click="videopopup('y7l1kisVH60')" ng-tap="videopopup('y7l1kisVH60')"><img src="http://img.youtube.com/vi/y7l1kisVH60/mqdefault.jpg" />
			<h3>Puducherry</h3></div >
		<div class="vid-thumb" ng-click="videopopup('2W9bD_OA7WQ')" ng-tap="videopopup('2W9bD_OA7WQ')"><img src="http://img.youtube.com/vi/2W9bD_OA7WQ/mqdefault.jpg" /><h3>Cherai</h3></div >
		<div class="vid-thumb" ng-click="videopopup('fMVhu2RQ7OQ')" ng-tap="videopopup('fMVhu2RQ7OQ')"><img src="http://img.youtube.com/vi/fMVhu2RQ7OQ/mqdefault.jpg" /><h3>Munnar</h3></div >
		</div>
	</div>
</div>
<!-- Hills -->
<div id="hidden-content-1" ng-controller="videoCtrl" style="display:none;">
	<div class="flexMe">
		<div class="outer">
			<div class="vid-thumb" ng-click="videopopup('_E3sNAYp2iE')" ng-tap="videopopup('_E3sNAYp2iE')"><img src="http://img.youtube.com/vi/_E3sNAYp2iE/mqdefault.jpg" /><h3>Binsar & Manipur</h3></div >
			<div class="vid-thumb" ng-click="videopopup('FPuNam16HOE')" ng-tap="videopopup('FPuNam16HOE')"><img src="http://img.youtube.com/vi/FPuNam16HOE/mqdefault.jpg" /><h3>Kandaghat</h3></div >
			<div class="vid-thumb" ng-click="videopopup('Q2LsxIIZJ_o')" ng-tap="videopopup('Q2LsxIIZJ_o')"><img src="http://img.youtube.com/vi/Q2LsxIIZJ_o/mqdefault.jpg" /><h3>White Meadows, Manali</h3></div >
		</div>
	</div>
</div>

<div id="hidden-content-2" ng-controller="videoCtrl" style="display:none;">
	<div class="flexMe">
		<div class="outer">
		<div class="vid-thumb" ng-click="videopopup('kFoAMqH_sUE')" ng-tap="videopopup('kFoAMqH_sUE')"><img src="http://img.youtube.com/vi/kFoAMqH_sUE/mqdefault.jpg" /><h3>Jaisalmer</h3></div >
		<div class="vid-thumb" ng-click="videopopup('2ZCnHupNWSE')" ng-tap="videopopup('2ZCnHupNWSE')"><img src="http://img.youtube.com/vi/2ZCnHupNWSE/mqdefault.jpg" /><h3>Kumbhalgarh</h3></div >
		<div class="vid-thumb" ng-click="videopopup('iiMjnBbZK8w')" ng-tap="videopopup('iiMjnBbZK8w')"><img src="http://img.youtube.com/vi/iiMjnBbZK8w/mqdefault.jpg" /><h3>Udaipur</h3></div >
		</div>
	</div>
</div>

<div id="hidden-content-3" ng-controller="videoCtrl" style="display:none;">
	<div class="flexMe">
		<div class="outer">
		<div class="vid-thumb" ng-click="videopopup('1JZ2DgVMSDk')" ng-tap="videopopup('1JZ2DgVMSDk')"><img src="http://img.youtube.com/vi/1JZ2DgVMSDk/mqdefault.jpg" /><h3>Ashtamudi</h3></div >
		<div class="vid-thumb" ng-click="videopopup('I0OLqda_oPk')" ng-tap="videopopup('I0OLqda_oPk')"><img src="http://img.youtube.com/vi/I0OLqda_oPk/mqdefault.jpg" /><h3>Coorg</h3></div >
		<div class="vid-thumb" ng-click="videopopup('VMRv96kP6W8')" ng-tap="videopopup('VMRv96kP6W8')"><img src="http://img.youtube.com/vi/VMRv96kP6W8/mqdefault.jpg" /><h3>Virajpet</h3></div >
		<div class="vid-thumb" ng-click="videopopup('kKJdBDKL2LM')" ng-tap="videopopup('kKJdBDKL2LM')"><img src="http://img.youtube.com/vi/kKJdBDKL2LM/mqdefault.jpg" /><h3>Kanha</h3></div >
		</div>
	</div>
</div>