<div class="content horizontal padding-active" ng-controller="signupCtrl">
	<div class="content-inner slidr-wrap">
		<div class="title">
			<h2>Let us know you before we start</h2>
		</div>
		<form class="animation-cover" autocomplete="off" name="userInfo" novalidate="true">
			<slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded">

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label for="name">What's your name?</label>
						<div class="inputs">
							<input type="text" name="name" ng-model="userInfoDataArray.name" ng-pattern="/^[a-zA-Z ]*$/" ng-minlength="3" placeholder="John Doe" required />
							<span class="error" ng-show="userInfo.name.$dirty && (userInfo.name.$error.required || userInfo.name.$error.minlength || serInfo.name.$error.pattern)">Enter Valid Name!</span>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label for="age">What's your age?</label>
						<div class="inputs">
							<input type="text" name="age" ng-model="userInfoDataArray.age" ng-pattern="/^[0-9]{2}/" placeholder="22" required/>
							<span class="error" ng-show="userInfo.age.$dirty && (userInfo.age.$error.required || userInfo.age.$error.pattern)">Enter Valid Age!</span>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label for="mstatus">Marital Status</label>
						<div class="inputs">
							<input type="radio" name="mstatus" ng-model="userInfoDataArray.mstatus" id="engaged" value="0" required></input>
							<label for="engaged">Engaged</label>
							<input type="radio" name="mstatus" ng-model="userInfoDataArray.mstatus" id="relation" value="1" required></input>
							<label for="relation">In a relationship</label>
							<input type="radio" name="mstatus" ng-model="userInfoDataArray.mstatus" id="single" value="2" required></input>
							<label for="single">Single</label>
							<span class="error" ng-show="userInfo.$submitted && !userInfo.mstatus">Selection is Required!</span>
						</div>
						
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label for="children">No. of Children?</label>
						<div class="inputs">
							<input type="text" name="children" placeholder="2" ng-model="userInfoDataArray.children" ng-pattern="/^[0-9]{1,2}/" required></input>
							<span class="error" ng-show="(userInfo.$submitted || userInfo.children.$dirty) && (userInfo.children.$error.required || userInfo.children.$error.pattern)">Enter Valid Input!</span>
						</div>
					</div>
                </div>

                <div class="slide" ng-click="makeMeActive($event)">
					<div class="card max-500">
						<label for="sign">Your Signature</label>
						<div class="inputs">
							<signature-pad accept="accept" clear="clear" height="140" width="300" disabled="false" ng-model="userInfo.sign"></signature-pad>
						</div>
						<div class="done">
							<a ng-click="clear(); toggleSign();" class="btn">Sign Again</a>
							<a ui-sref="lifestyle" class="btn" ng-show="userInfo.$valid && !needToBeSigned" ng-click="signUpInfo()">Continue</a>
						</div>
					</div>
                </div>

            </slick>
		</form>
	</div>
</div>
