<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Club Mahindra</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link href="css/reset.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body ng-app="cmSurvey" ng-controller="mainController">

		<div class="background" ng-class="getBgClass();">

			<div class="welcome-screen bgs"></div>
			<div class="signup-screen bgs"></div>
			<div class="score-screen bgs"></div>
			<div class="end-screen bgs"></div>

			<!-- Leafs -->
			<div id="leafs" class="leaf-wrapper">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
					<path id="leafPath" fill="#F8992D" d="M663.917,370.8C677.351,250.757,539.757,65.927,410.397,18.473C354.493-1.895,284.505-11.646,238.785,37.758c-39.87,42.903-18.635,100.324,5.417,148.211c20.368,40.303,5.2,57.638-31.636,72.805c-37.269,15.384-73.456,34.019-107.691,55.254C48.537,348.915,0,400.052,0,461.157c0,11.268,1.733,22.968,5.417,35.103C104.008,823.451,657.849,425.187,663.917,370.8z"/>
				</svg>
			</div>

		<!-- Index View -->
		<div class="outer" ui-view></div>

		<div class="navigation">
			<div class="nums">{{pageNum}} of 14</div>
			<div class="next">
				<a ng-click="prevScreen()" class="btn back prev-back" style="display: none">Back</a>
				<a ng-click="slickConfig.method.slickPrev()" class="btn back slick-back">Back</a>
				<a ng-click="slickConfig.method.slickNext()" class="btn nxt">Next</a>
			</div>
		</div>

		</div>
	

		<!-- Scripts : Angularjs, Angular-ui-router, Angular-animate, App.js -->
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/slick.js"></script>
		<script src="js/jquery.fancybox.min.js"></script>

		
	  	<script src='js/angular.min.js'></script>
	  	<script src="js/ngStorage.min.js"></script>
		<script src='js/angular-ui-router.min.js'></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-cookies.js"></script>
		<script src="js/angular-slick.js"></script>
		<script src="js/snap.svg-min.js"></script>
		<script src="js/signaturepad.js"></script>
		<script src="js/angular-signature.js"></script>
		<script src="js/ngTap.min.js"></script>
	    <script  src="js/app.js"></script>
	    <script src="http://www.youtube.com/player_api"></script>
	    <script src="js/angular-youtube-embed.js"></script>

	</body>
</html>
